@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
.ig
  width 100%
  .graph
    width 40%
    float left
    h2
      margin 0px 0px 15px 0px
      font-size 16px
    .line
      height 30px
      position relative
      .bar
        height 23px
        position absolute
        top 3px
        min-width 1px
      .title
        position absolute
        top 6px
      &.active
        .bar
          opacity 0.7
      &.cz
        background #a
    &:first-child
      margin-right 20%
      h2
        text-align right
      .line
        .bar
          right 0px
          border-top-left-radius 2px
          border-bottom-left-radius 2px
          background ColorHeadingLink
        .title
          padding-right 8px
        &.cz
          background linear-gradient(to right, #fff 0%, lighten(ColorHeadingLink, 80%) 100%)
    &:last-child
      .line
        .bar
          left 0px
          border-top-right-radius 2px
          border-bottom-right-radius 2px
          background ColorHeading
        .title
          padding-left 8px
        &.cz
          background linear-gradient(to left, #fff 0%, lighten(ColorHeading, 80%) 100%)
  svg
    position absolute
    left 40%
    top 49px
    path
      stroke #d
      stroke-width 0.5
      &.active
        stroke #3
      fill none
